body {
    font-family: Arial, sans-serif;
    background-image: url('imagenes/fuego2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;



}

.login-container {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    .form-group input[type="text"],
    .form-group input[type="password"] {
        padding: 8px;
    }

    .form-group input[type="submit"] {
        padding: 10px;
        font-size: 14px;
    }
}