body {
    font-family: Arial, sans-serif;
    background: url('imagenes/fuego1.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background-color: #ece9f1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(238, 232, 232, 0.568);
    border-radius: 5px;
}

h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #413333;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.return_link {
    display: inline-block;
    margin-top: 9px;
    padding: 5px 0px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    text-align: center;
}

.return_link:hover {
    background-color: #0056b3;
}
@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    .form-group input[type="text"],
    .form-group input[type="password"] {
        padding: 8px;
    }

    .form-group input[type="submit"] {
        padding: 10px;
        font-size: 14px;
    }
}