body {
    font-family: Arial, sans-serif;
    background-image: url('imagenes/fuego2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form .form-group {
    margin-bottom: 15px;
}

.register-form label {
    font-weight: bold;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-form input[type="text"]#nombre {}

.register-form input[type="text"]#username {}

.register-form input[type="password"]#password {}

.register-form input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form input[type="submit"]:hover {
    background-color: #575757;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    .form-group input[type="text"],
    .form-group input[type="password"] {
        padding: 8px;
    }

    .form-group input[type="submit"] {
        padding: 10px;
        font-size: 14px;
    }
}